<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @transaction.type_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @transaction.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @transaction.entity_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @transaction.user_id %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @transaction.memo %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
