<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ituser.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ituser.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @ituser.password %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @ituser.birthday %>
</p>

<%= link_to 'Edit', edit_ituser_path(@ituser) %> |
<%= link_to 'Back', itusers_path %>
